<div class="team-image">
    <h5>{{ description }}</h5>
    {% if image is defined %}
        {{ page.media[image].loading('lazy').lightbox(1600,900).cropZoom(754,424).html(name)|raw }}
    {% endif %}
</div>